body {
  color: var(--text-dark);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--default-font-size);
}

h1 {
  font-size: 62px;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
